:root {
  --primary-color: #4096ff;

  // text
  --text-color: #303133;
  // background
  --bg-color: #f5f5f5;
  --bg-color-2: #f5f5f5;
  // text color
  --color-text-1: #141414;
  --color-text-2: #5c5c5c;
  --color-text-3: #909399;
  --color-white: #fff;
  // box
  --box-color-1: rgb(229, 230, 235);

  --cc-popover-hover-bg-color: rgba(0, 0, 0, 0.06);

  --main-background-color: rgb(240, 242, 245);

  --btn-primary-color: #4096ff;
}

:root.dark {
  --text-color: #e5eaf3;
  --bg-color: #141414;
  --bg-color-2: #181818;
  // text color dark
  --color-text-1: rgba(255, 255, 255, 0.9);
  --color-text-2: rgba(255, 255, 255, 0.7);
  --color-text-3: rgba(255, 255, 255, 0.5);

  --box-color-1: rgb(72, 72, 73);

  --cc-popover-hover-bg-color: rgba(255, 255, 255, 0.12);

  --main-background-color: rgb(33, 33, 33);
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}

/* 进入dark模式和退出dark模式时，两个图像的位置顺序正好相反 */
.dark::view-transition-old(root) {
  z-index: 1;
}
.dark::view-transition-new(root) {
  z-index: 999;
}

::view-transition-old(root) {
  z-index: 999;
}
::view-transition-new(root) {
  z-index: 1;
}